{% extends 'base.html' %}

{% block title %}
    <title>Dashboard Page</title>
{% endblock %}

{% block body %}

    {% if username %}
        <h1>Welcome to Dashboard Page Mr/Ms. {{username}}</h1>
    {% else %}
        <h1>Welcome to Dashboard Page</h1>
        <a href="{% url 'doctor_signup' %}" class="nav-link">Doctor signup</a>
        <a href="{% url 'patient_signup' %}" class="nav-link">Patient signup</a>
        {% if user.is_authenticated %} 
        <a href="{% url 'userlogout' %}" class="nav-link">Logout</a>
        <a href="{% url 'profile_display' %}" class="nav-link">Profile</a>
        <a href="{% url 'changepassword'%}" class="nav-link">Change Password</a>
        {% else %}
        <a href="{% url 'userlogin' %}" class="nav-link">Login</a>
        {% endif %}
    {% endif %}
    
{% endblock %}